#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets//img//footer-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 40px;

  .footerSocial {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      padding: 2px 0;

      i {
        margin-right: 8px;
      }

      &:hover {
        text-decoration: underline !important;
        color: blue;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 20px;
    font-size: 14px;
  }
}
